@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-main:#A67C68;
  --color-secondary:#FAF0E6;
  --color-third:#E5C9B2;
  --font-main: "Syne", sans-serif;
}

#root{
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  /* background-color: #FAF0E6 ; */
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
/* global.css or App.css */

.underline-hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle; /* Aligns better with surrounding text */
}

.underline-hover::after {
  content: '';
  position: absolute;
  bottom: 0; /* or tweak to bottom: -1px if it's overlapping */
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.underline-hover:hover::after {
  transform: scaleX(1);
}



